@page "/game/{gameId}"
@using BRS.Boargame.Shared
@inject HttpClient Http

<h1>Game: @gameId</h1>


@if (game == null)
{
    <p><em>Loading...</em></p>
}
else
{


      
<p>Game Name</p>
@game.Name

<div class="row">
    <div class="col">Player Counter</div>
    <div class="col">Total Times Played</div>
    <div class="col">Playing Time</div>
</div>
<div class="row">
    <div class="col">@game.MinPlayerCount - @game.MaxPlayerCount Players</div>
    <div class="col">@game.Plays?.Sum(x=>x.Total)</div>
    <div class="col">@game.MinPlayTime-@game.MaxPlayTime min</div>
</div>

<p>Played at</p>

<div class="row">
    @for (var i = 1; i <= game.MaxPlayerCount; i++)
    {
        <div class="col">@i player</div>
    }
</div>
<div class="row">
    @for (var i = 1; i <= game.MaxPlayerCount; i++)
    {
        <div class="col">@game.Plays?.Where(x => x.PlayedAt == i).FirstOrDefault()?.Total</div>
    }
</div>




<p>Description</p>
@game.Description
<p>Last Winner</p>
@game.LastWinnerId
<p>Last Winner Remarks</p>
@game.LastWinnerRemarks

}

@code {
    [Parameter]
    public string gameId { get; set; }

    private GameDetail game;

    protected override async Task OnInitializedAsync()
    {
        game = await Http.GetFromJsonAsync<GameDetail>("Game");
    }
}

